<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015-present, Parse, LLC.
  ~ All rights reserved.
  ~
  ~ This source code is licensed under the BSD-style license found in the
  ~ LICENSE file in the root directory of this source tree. An additional grant
  ~ of patent rights can be found in the PATENTS file in the same directory.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parse.starter" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:label="flashlight"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".SignPhoto"
            android:label="@string/title_activity_sign_photo" >
        </activity>
        <activity
            android:name=".following"
            android:label="@string/title_activity_following" >
        </activity>
        <activity
            android:name=".SearchUser"
            android:label="@string/title_activity_search_user" >
        </activity>
        <activity
            android:name=".Comment"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".you"
            android:label="@string/title_activity_you" >
        </activity>
        <activity
            android:name=".PhotoEdit"
            android:label="@string/title_activity_photo_edit" >
        </activity>
        <activity
            android:name=".PhotoFilters"
            android:label="@string/title_activity_photo_filters" >
        </activity>
        <activity
            android:name=".PhotoUpload"
            android:label="@string/title_activity_photo_upload" >
        </activity>
        <activity
            android:name=".TakePhoto"
            android:label="@string/title_activity_take_photo" >
        </activity>
        <activity
            android:name=".BlueTooth"
            android:label="@string/title_activity_blue_tooth" >
        </activity>
    </application>

</manifest>
